<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <%= link_to "Contact Us", {controller: "pages", action: "contact"}, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", {controller: "pages", action: "about"}, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Products",products_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Levels
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "All", levels_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Level 1</a>
          <a class="dropdown-item" href="#">Level 2</a>
          <a class="dropdown-item" href="#">Level 3</a>
          <a class="dropdown-item" href="#">Level 4</a>
          <a class="dropdown-item" href="#">Level 5</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Types
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "All", types_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Wire & Metal Puzzles</a>
          <a class="dropdown-item" href="#">Wood Puzzles</a>
          <a class="dropdown-item" href="#">Jigsaws</a>
          <a class="dropdown-item" href="#">Puzzle Boxes</a>
          <a class="dropdown-item" href="#">Rubik's Cube</a>
        </div>
      </li>
    </ul>

    <%= form_tag(results_search_index_path, method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
