<h1>Checkout Process</h1>

<%= @new_customer.email %><br/>

<%= @total_price %><br/>

<%= @total_tax %><br/>

<%= @message_order %> with <%= @new_order.total %> and <%= @new_order.customer.email %><br/>
