<h1>List of Items in the cart</h1>

<% if @cart_items.empty? %>
  <h2>The cart is empty.</h2>
<% else %>
  <% @cart_items.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |product| %>
        <div class="col-md-4">
          <%= image_tag product.image_url, width: '50%' if product.image.present? %>
          <h4><%= link_to product.name, product %></h4>
          <strong>Type:</strong> <%= product.type.description %><br/>
          <strong>Level:</strong> <%= product.level.description %><br/>
          <strong>Price of each item:</strong> $<%= product.price %><br/>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="clear_cart_btn">
    <%= link_to 'Clear Shopping Cart', clear_shopping_cart_lists_carts_path, method: :post, class: "btn btn-primary", role: "button" %>
  </div>

  <!-- form goes here -->

<%= form_for @new_customer, url: {controller: 'carts', action: "checkout", method: :post}, html: {class: "nifty_form"} do |f| %>
  <%= f.label :first_name, 'First Name:' %><br/>
  <%= f.text_field :first_name %><br /><br/>
  <%= f.label :last_name, 'Last Name:' %><br/>
  <%= f.text_field :last_name %><br /><br/>
  <%= f.label :email, 'Your Email:' %><br/>
  <%= f.email_field :email %><br /><br/>
  <%= f.label :address, 'Your Home address:' %><br/>
  <%= f.text_area :address, size: "60x3" %><br/><br/>
  <%= f.label :tax_rate_id, 'Province' %><br/>
  <%= f.collection_select(:tax_rate_id, TaxRate.all, :id, :province_name) %><br/><br/>
  <%= f.submit "Proceed to Checkout" %>
<% end %>


<% end %>
