<h1>List of Products</h1>

<div class="product_state">
  <%= link_to 'All', products_path %>
  <%= link_to 'New', {controller: 'products', action: 'index', :is_new => true}%>
  <%= link_to 'Sale', {controller: 'products', action: 'index', :on_sale => true}%>
</div>

<ul>
<% @products.each do |product| %>
  <li><%= link_to product.name, product %></li>
<% end %>
</ul>

<%= paginate @products, window:1, outer_window: 1 %>
