<h1>List of Products</h1>

<div class="product_state">
  <%= link_to 'All', products_path %> |
  <%= link_to 'New', {controller: 'products', action: 'index', :is_new => true}%> |
  <%= link_to 'Sale', {controller: 'products', action: 'index', :on_sale => true}%>
</div>

<% @products.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |product| %>
      <div class="col-md-4">
        <%= image_tag product.image_url, width: '50%' if product.image.present? %>
        <h4><%= link_to product.name, product %></h4>
        <strong>Type:</strong> <%= product.type.description %><br/>
        <strong>Level:</strong> <%= product.level.description %><br/>
        <strong>Price:</strong> $ <%= product.price %><br/>
      </div>
    <% end %>
  </div>
<% end %>

<div class="pagination_nav">
  <%= paginate @products, window:1, outer_window: 1 %>
</div>
